

.menu{
    background-color: #2E8B57;

    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    margin-bottom:-8px;

    padding-left: 16px;

    height: 70px;

    width: 100%;
}


#itens_menu{
    position: relative;
    height: 50%;
    top: 40%;
    width: auto;
}


#itens_menu ul{
    padding:0px;
    margin:0px;
    float: left;
    list-style:none;
    font:80% Tahoma; 


}

#itens_menu li { 
    display: inline;
    font-size:18px;}

#itens_menu li a {

    color: white;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding: 2px 10px;
    float:left;
    text-decoration: none;
    
     background-color:#2E8B57;
}

#itens_menu ul li a:hover {
    
     background-color:white;
    color: #333;
    border-radius: 10px;


}